.contact-container {
  padding: 40px;
  max-width: 600px;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
}

.contact-form button {
  background: #000;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #444;
}
